<div>

    <section class="galeriadeimagens text-center">
        <div>
            <h1>galeria</h1>
        </div>
        <div>
            <h1>Slider</h1>
        </div>

    </section>

    <div class="caracteristicas text-center">
        <h1>caracteristicas</h1>

    </div>
    <div class="relacionado text-center">
        <h1>relacionado</h1>

    </div>

    <div class="prodtitle text-center">
        <span>Componente para:</span>
        <span>shortname, name, brand select, multi or single product select & price if single product</span>

    </div>
    <div class="caracteristics-or-multiprod text-center">
        <h3>Caracteristics Component <br><strong class="text-danger">or</strong><br> Multiproduct Component</h3>

    </div>
    <div class="prodinfo text-center">
        <h1>info</h1>
    </div>


</div>
